:root {
  --header-height: 80px;
  --max-width: 1400px;
    --dark-gray: #333333;
    --light-gray: #d5d5d5;
    --middle-gray: #8d8d8d;
    --black: #000;
  --green: #000;
  --neon-green: #39ff14;
  --background-color: #fff;
  --foreground-color: #000;
  --font: 'Syne', sans-serif;
}
[data-theme='dark'] {
 --background-color: #404040;
  --foreground-color: #e0e0e0;
  --green: #c0ff6b;
  --neon-green: #39ff14;
  --font: 'Roboto', sans-serif;
}


@import url('./hamburger.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  overflow-x: initial !important;
}
html, body {  
  height: 100%;
  white-space: pre-wrap;
  
}
body {
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: .1rem;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
  color: var(--foreground-color);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a{
text-decoration: none;
color: inherit;
}
#root, #__next {
  isolation: isolate;
}
button 
{ all: unset;
cursor: pointer; }

li, ul {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style: none;
}

.bold{
  font-weight: 600;
}
.firacode{
  font-family:  'Fira Code', monospace;
}


/* react-multi-carousel-css */

.react-multi-carousel-dot button{
  border-color: var(--green) !important;
}

.react-multi-carousel-dot--active button {
    background: var(--neon-green) !important;
}
.p-light{
  font-size: clamp(1rem, 0.4754rem + 1.0929vw, 1.5rem) !important;
}
.title-light{
  font-size: clamp(1.5rem, 0.4508rem + 2.1858vw, 2.5rem) !important;
}
